
body {
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.container, .content, .controls, .wrapper {
    display: flex;
}

.container, .content, .wrapper, .sketch {
    flex: 1;
}

.controls {
    flex-direction: column;
}

.wrapper {
    
}

.sketch {
    border: 5px solid black;
    display: grid;
    max-width: 500px;
    max-height: 500px;
}

.sketch div{
    display: grid;
}