
.header {
    text-align: center;
    font-size: large;
    font-weight: bold;
}

body {
    background-color: rgb(255, 132, 132);
    height: 100vh;
    margin: 0px;
}

.slider-container {
    display: flex;
}

.all-slider{
    display: flex;
    flex-direction: column;
    flex: 1;
}

#change-value {
    height: 100%;
}

.content {
    display: flex;
    gap: 40px;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.controls {
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    width: 70%;
    justify-content: center;
    align-items: center;
}

.controls button {
    height: 30px;
    width: 80px;
}

.sketch {
    border: 5px solid black;
    background-color: white;
    display: grid;
    position: absolute;
    width: 100%;
    height: 100%;
}

.wrapper {
    position: relative;
    width: 50%;
}

.wrapper:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.sketch div {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
